/* navabr styles */
nav {
  background-color: black;
  display: flex;
  font-size: 16px;
  padding: 1.5rem;
  box-sizing: border-box;
}
nav a {
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  margin-right: 10px;
  letter-spacing: 1.2px;
  font-weight: 600;
}
nav a:hover {
  color: chartreuse;
}
/* trending gif styles */
.gifsSection {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  transition: 0.3s;
}
.gifContainer {
  height: 200px;
  width: 250px;
  margin: 5px;
}
.gifContainer img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: 5px solid #fff;
  cursor: pointer;
}
.gifContainer img:hover {
  border: 5px solid chartreuse;
}
/* search box section */
.searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.searchBox input {
  width: 40vw;
  padding: 10px;
  margin-right: 10px;
  border-radius: 18px;
  border: 1px solid black;
}
.searchBox input:focus {
  border: 2px solid chartreuse;
}
.searchBox i{
  cursor: pointer;
}